contactmanagementapi/src/main/app/resources/createrecord.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="post:/dataBase:contactmanagementapi-config">
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload />
            <dw:set-payload resource="classpath:dataweaveReuse.dwl"/>
        </dw:transform-message>
        <set-payload value="INSERT INTO *tableName* (FirstName,LastName,DOB,Gender,Title,City,State,Zipcode,Email,Phone) VALUES (#[payload.FirstName],#[payload.LastName],#[payload.DOB],#[payload.Gender],#[payload.Title],#[payload.City],#[payload.State],#[payload.Zipcode],#[payload.Email],#[payload.Phone]);" encoding="UTF-8" doc:name="SQL Query to INSERT Data"/>
        <logger message="#[payload]" level="INFO" doc:name="DB Component"/>
	</flow>
</mule>
